<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button id="back-button-tracking-tag"></ion-back-button>
    </ion-buttons>
    <ion-title>Tracking Tag</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-button
      (click)="deleteLocalTrackingTag()"
      expand="block"
      id="btn-delete-local-tracking-tag"
    >
      Delete Local Tracking Tag
    </ion-button>
    <ion-button
      (click)="deleteLocalTagId()"
      expand="block"
      id="btn-delete-local-tag-id"
    >
      Delete Local Tag Id
    </ion-button>
  </ion-card>
</ion-content>
