<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Ionic Contentsquare </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic Contentsquare</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item
      type="button"
      id="btn-menu-privacy"
      (click)="goToPage('basicfunctions')"
    >
      <h2>Privacy</h2>
    </ion-item>
    <ion-item
      type="button"
      id="btn-menu-send-screen"
      (click)="goToPage('send-screen')"
    >
      <h2>Send Screen</h2>
    </ion-item>
    <ion-item
      type="button"
      id="btn-menu-transaction"
      (click)="goToPage('transaction')"
    >
      <h2>Transaction</h2>
    </ion-item>
    <ion-item
      type="button"
      id="btn-menu-dynamic-var"
      (click)="goToPage('dynamic-var')"
    >
      <h2>Dynamic Var</h2>
    </ion-item>
    <ion-item
      type="button"
      id="btn-menu-custom-var"
      (click)="goToPage('custom-var')"
    >
      <h2>Custom Var</h2>
    </ion-item>
    <ion-item
      type="button"
      id="btn-menu-snapshot"
      (click)="goToPage('snapshot')"
    >
      <h2>Snapshot</h2>
    </ion-item>
    <ion-item
      type="button"
      id="btn-menu-spotify"
      (click)="goToPage('spotify-app')"
    >
      <h2>Complex Page</h2>
    </ion-item>
    <ion-item
      type="button"
      id="btn-menu-error-analysis"
      (click)="goToPage('error-analysis')"
    >
      <h2>Error Analysis</h2>
    </ion-item>
    <ion-item
      type="button"
      id="btn-menu-tracking-tag"
      (click)="goToPage('tracking-tag')"
    >
      <h2>Tracking Tag</h2>
    </ion-item>
    <ion-item
      type="button"
      id="btn-menu-sr-masking"
      (click)="goToPage('sr-masking')"
    >
      <h2>SR Masking</h2>
    </ion-item>
    <ion-item
      type="button"
      id="btn-menu-telemetry"
      (click)="goToPage('telemetry')"
    >
      <h2>Telemetry</h2>
    </ion-item>
  </ion-list>
</ion-content>
