<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button id="back-button-error-analysis"></ion-back-button>
    </ion-buttons>
    <ion-title>Error Analysis</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item type="button" id="btn-erroranalysis-apierror" [routerLink]="['./api-error']">
      <h2>API Error</h2>
    </ion-item>
    <ion-item type="button" id="btn-erroranalysis-customerror" [routerLink]="['./custom-error']">
      <h2>Custom Error</h2>
    </ion-item>
    <ion-item type="button" id="btn-erroranalysis-jserror" [routerLink]="['./js-error']">
      <h2>JS Error</h2>
    </ion-item>
  </ion-list>
</ion-content>